body {
  background-color: #48d1cc;
  background-image: url("https://i.pcmag.com/imagery/articles/06A0yVqekWQSdRVJzFou1Ht-22.fit_scale.size_2698x1517.v1575682800.jpg");
  padding: 40px;
  font-family: Arial;
  text-align: left; 
  font-weight: bold;
  font-size: large;
  color: cyan;
}
 
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
 
label {
  font-weight: bold;
}
 